<style>
	.add-fundraiser-icon {
		height: 32px;

		position: relative;
		top: 5px;
	}
	.add-fundraiser-icon:hover {
		filter: brightness(0.6);
	}
</style>
<div class="full-width">
	<div class="medium-basic-container">
		<p id="notice"><%= notice %></p>

		<h1>Fundraisers <%= link_to new_fundraiser_path do %><%= image_tag 'icons/plus-blue.png', class: "add-fundraiser-icon" %><% end %></h1>

		<% @fundraisers.each do |fundraiser| %>
			<% @fundraiser = fundraiser %>
			<div class="fundraiser-card-space" style="min-height: 280px;">
				<%= render 'fundraiser_card' %>
			</div>
		<% end %>
	</div>
</div>