<h2>How it works</h2>

<p>
Pail combines the instant-pay of Venmo and the donations of GoFundMe into one cohesive application.
</p>

<h3>Make payments to and fro</h3>
<p>
Pail users can pay through in-app funds or through a credit/debit card. 
</p>

<h3>Anytime, anywhere</h3>
<p>
Pail lets users pay wherever they want, whenever they want. Time is but a thing.
</p>

