<style type="text/css">
	.body {
		font-family: 'Segoe UI';
		margin: 0;
		min-width: 100%;
		min-height: 100%;
	}

</style>

<center>

<u><h2>How it works</h2></u>

<p>
	Pail combines the instant-pay of Venmo and the donations of GoFundMe into one cohesive application.
</p>

<u><h2>Make payments to and fro</h3></h2>
<p>
	Pail users can pay through in-app funds or through a credit/debit card. 
</p>

<u><h2>Anytime, anywhere</h2></u>
<p>
	Pail lets users pay wherever they want, whenever they want. Time is but a thing.
</p>

</center>