<style type="text/css">
	.body {
		font-family: 'Segoe UI';
		margin: 0;
		min-width: 100%;
		min-height: 100%;
	}

</style>

<center>
	<h2>Contact Us</h2>
	<h4>Winston Chu:</h4>
	<ul>
		<li>Email: winston_chu@gmail.com</li>
		<li>Phone: +1 523-325-2352 </li>
	</ul>
	<h4>Frank Liao:</h4>
	<ul>
		<li>Email: frank_liao@gmail.com</li>
		<li>Phone: +1 326-236-1236 </li>
	</ul>
	<h4>Ben Catarevas:</h4>
	<ul>
		<li>Email: ben_catarevas@gmail.com</li>
		<li>Phone: +1 352-236-3274 </li>
	</ul>
</center>