/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Structure */
html {
	height: 100%;
}

body {
	font-family: 'Segoe UI';

	margin: 0;
	min-width: 100%;
	min-height: 100%;
}

#header {
	font-family: 'Segoe UI';
	color: #fff;

	position: relative;
}

#header #search-form input {
	color: black;
	width: 350px;
	height: 35px;
}

#header .account {
	position: relative;
	top: 10px;
	right: 20px;
	float: right;
}

#header .logo {
	width: 100px;
	font-family: 'Segoe UI';
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 1px;

	color: #fff;
}
#header p {
	margin: 10px 0;
}

.header-shadow {
	height: 1px;
}

#content {
	width: 100%;
	min-height: 50%;
}

#footer {

}

.large-basic-container {
	margin: auto;
	width: 1000px;
}

.medium-basic-container {
	margin: auto;
	width: 750px;
}

.small-basic-container {
	margin: auto;	
	width: 500px;
}

.center {
	margin: 0 auto;
}

#load-animation {
	margin: auto;
}

/* Colors */
.blue {
	background-color: #219cc8;
}

.light-blue {
	background-color: #01b9f5;
}

.turquoise {
	background-color: #4fd7b1;
}

.light-green {
	background-color: #9af56c;
}

.yellow {
	background-color: #f1f358;	
}

.white {
	background-color: #ffffff;	
}

.light-gray {
	background-color: #f1f1f1;	
}

/* Styling */
.pail-font {
	font-family: Helvetica;
}

.light-gray-border {
	border: solid 1px #f1f1f1;
	border-radius: 4px;
	padding: 10px 20px;
}

/* Components */
.darken-button {
	padding: 7px 13px;
}
.darken-button:hover {
	text-decoration: none;
	border-radius: 3px;
	-webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
	filter: brightness(50%);
}
.lighten-button {
	padding: 7px 13px;
}
.lighten-button:hover {
	text-decoration: none;
	border-radius: 3px;
	-webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
	filter: brightness(50%);
}