<div class="full-width">
  <div class="small-basic-container">
    <p id="notice"><%= notice %></p>

    <h1>Listing Organizations</h1>

    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @organizations.each do |o| %>
          <tr>
            <td><%= link_to o.name, organization_path(o) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Organization', new_organization_path %>
  </div>
</div>